# Python cache
__pychache__/
*.py[cod]

# Virtual environments
.venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data & models
data/processed/
reports/
models/
*.parquet
*.csv
*.joblib
*.pkl

